@import 'styles/_functions';

.container{
    @include desktop {
       overflow-y: hidden;
    }
}

.container__inner{
    @include desktop {
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
    }
}

.hero{
    @include desktop {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        min-width: 100vw;
    }
}

.hero_title{
    position: absolute;
    top: 30%;
    height: 50%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20rem;
    font-family: 'Cormorant';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

.gallery__outer{
    @include desktop {
        margin-left: 0rem;
        position: relative;
        display: flex;
        align-items: center;
        background-color: black;
        padding: 0rem 1rem;
        height: 100vh;
        box-sizing: content-box;
        
    }
}

.footer_credit{
    font-size: 1rem;
    font-family: 'Cormorant';
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    bottom: 0%;
    height: -100%;
    left: 0;
    width: 100%;
}



.footer_credit_inner{
    display: block;
    text-align: center;
}
.showcase{
    @include desktop {
        height: 100vh;
    }
}
.showcase__container{   
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        padding: 1rem 0.6rem;
        position: relative;
    }
}
.showcase__title{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 7.5rem;
        margin-top: -1.2rem;
    }
}

.showcase__top__text{
    @include desktop {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end:  1;
        text-align: right;
        display: unset;
        font-weight: 200;
    }
    span{
        @include desktop {
            display: block;
            
        }
    }
    span:nth-of-type(2){
        @include desktop {
            margin-top: -0rem;
        }
    }
}
.showcase__media{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 10;
        margin-top: 3rem;
    }
}
.showcase__media__container{
    @include desktop {
        height: 100%;
        width: 100%;
    }
}
.showcase__media__image{
    @include desktop {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: fill;
    }
}
.showcase__lookbook{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 10;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-top: -2.4rem;
    }
}

.showcase__watch__film{
    @include desktop {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 10;
        grid-row-end: 10;
        text-transform: uppercase;
        margin-left: 7.4rem;
        font-weight: 200;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-top: -2.4rem;
    }
}
.showcase__spring{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 11;
        grid-row-end: 12;
        text-transform: uppercase;
        font-size: 6.5rem;
        margin-top: 3.5rem;
        
    }
}
.showcase__22{
    @include desktop {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 10;
        grid-row-end: 11;
        text-transform: uppercase;
        font-size: 7.5rem;
        margin-left: 2rem;
    }
}

.showcase__footer__text{
    @include desktop {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 12;
        grid-row-end: 13;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 200;
        margin-left: 2.5rem;
        margin-top: 2rem;
    }
    span{
        display: block;
    }
}
.marquee{
    @include desktop {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 12;
        grid-row-end: 13;
        margin-top: 2rem;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1rem 0rem;
        display: flex;
        align-items: center;
        // background-color: black;
    }
}

.marquee__span{
    @include desktop {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
    }
}
.display{
    @include desktop {
        height: 100vh;
    }
}

.display__container{
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 4.5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        padding: 1rem 0.6rem;
        position: relative;
        background-color: black;
    }
}

.display__marquee{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.display__marquee__span{
    @include desktop {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
        color: white;
    }
}
.display__media{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 12;
    }
}

.image__showcase{
    @include desktop {
        height: 100vh;
    }
}

.image__showcase__container{
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 8.5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;

        position: relative;
    }
}

.image__showcase__media__1{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

.image__showcase__media__2{
    @include desktop {
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 13;
    }
}

.image__showcase__nav{
    @include desktop {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2rem;
        margin-top: 4.5rem;
        text-transform: uppercase;
        

        div{
            h3{
                font-size: .8rem;
                font-weight: 300;
            }
        }
    }
}

.image__showcase__title{
    @include desktop {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 11;
        margin-top: 2rem;
        margin-left: 2rem;
        h2{
            font-size: 12rem;
            text-transform: uppercase;
            text-align: center;
            line-height: 11rem;
        }
    }
}

.image__showcase__disclaimers{
    @include desktop {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 10;
        grid-row-end: 11; 
        margin-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 4rem;
        p{
            font-weight: 100;
            text-transform: uppercase;
            font-size: 0.8rem;
     
            span{
                display: block;
            }
        }
    }
}