@import 'styles/_functions';

.container{
    @include desktop {
    //    overflow-y: hidden;
    }
}

.container__inner{
    @include desktop {
        display: flex;
        // align-items: center;
        flex-direction: row;
        // overflow: hidden;
    }
}

.sideheader{
    position: fixed;
    width: 4.5rem;
    height: 100vh;
    border-right: 2px solid black;
}

.hero{
    @include desktop {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        min-width: 100vw;
    }
}

.hero_title{
    position: absolute;
    top: 30%;
    height: 50%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20rem;
    font-family: 'Cormorant';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

.gallery__outer{
    @include desktop {
        margin-left: 0rem;
        position: relative;
        display: flex;
        align-items: center;
        background-color: black;
        padding: 0rem 1rem;
        height: 100vh;
        box-sizing: content-box;
        
    }
}

.footer_credit{
    font-size: 1rem;
    font-family: 'Cormorant';
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    bottom: 0%;
    height: -100%;
    left: 0;
    width: 100%;
}



.footer_credit_inner{
    display: block;
    text-align: center;
}
.showcase{
    @include desktop {
        height: 100vh;
    }
}
.showcase__container{   
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        padding: 1rem 0.6rem;
        position: relative;
    }
}
.showcase__title{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 7.5rem;
        margin-top: -1.2rem;
    }
}

.showcase__top__text{
    @include desktop {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end:  1;
        text-align: right;
        display: unset;
        font-weight: 200;
    }
    span{
        @include desktop {
            display: block;
            
        }
    }
    span:nth-of-type(2){
        @include desktop {
            margin-top: -0rem;
        }
    }
}
.showcase__media{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 10;
        margin-top: 3rem;
    }
}
.showcase__media__container{
    @include desktop {
        height: 100%;
        width: 100%;
    }
}
.showcase__media__image{
    @include desktop {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: fill;
    }
}
.showcase__lookbook{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 10;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-top: -2.4rem;
    }
}

.showcase__watch__film{
    @include desktop {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 10;
        grid-row-end: 10;
        text-transform: uppercase;
        margin-left: 7.4rem;
        font-weight: 200;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        margin-top: -2.4rem;
    }
}
.showcase__spring{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 11;
        grid-row-end: 12;
        text-transform: uppercase;
        font-size: 6.5rem;
        margin-top: 3.5rem;
        
    }
}
.showcase__22{
    @include desktop {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 10;
        grid-row-end: 11;
        text-transform: uppercase;
        font-size: 7.5rem;
        margin-left: 2rem;
    }
}

.showcase__footer__text{
    @include desktop {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 12;
        grid-row-end: 13;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 200;
        margin-left: 2.5rem;
        margin-top: 2rem;
    }
    span{
        display: block;
    }
}
.marquee{
    @include desktop {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 12;
        grid-row-end: 13;
        margin-top: 2rem;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1rem 0rem;
        display: flex;
        align-items: center;
        // background-color: black;
    }
}

.marquee__span{
    @include desktop {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
    }
}
.display{
    @include desktop {
        height: 100vh;
    }
}

.display__container{
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 4.5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        padding: 1rem 0.6rem;
        position: relative;
        background-color: black;
    }
}

.display__marquee{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.display__marquee__span{
    @include desktop {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
        color: white;
    }
}
.display__media{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 12;
    }
}

.image__showcase{
    @include desktop {
        height: 100vh;
    }
}

.image__showcase__container{
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 8.5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;

        position: relative;
    }
}

.image__showcase__media__1{
    @include desktop {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}

.image__showcase__media__2{
    @include desktop {
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 13;
    }
}

.image__showcase__nav{
    @include desktop {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 2rem;
        margin-top: 4.5rem;
        text-transform: uppercase;
        

        div{
            h3{
                font-size: .8rem;
                font-weight: 300;
            }
        }
    }
}

.image__showcase__title{
    @include desktop {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 11;
        margin-top: 2rem;
        margin-left: 2rem;
        h2{
            font-size: 12rem;
            text-transform: uppercase;
            text-align: center;
            line-height: 11rem;
        }
    }
}

.image__showcase__disclaimers{
    @include desktop {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 10;
        grid-row-end: 11; 
        margin-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 4rem;
        p{
            font-weight: 100;
            text-transform: uppercase;
            font-size: 0.8rem;
     
            span{
                display: block;
            }
        }
    }
}

.campaign{
    @include desktop {
        height: 100vh;
    }
}

.campaign__inner{
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 8.5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        position: relative;
    }
}
.campaign__image{
    @include desktop{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 13;
        display: grid;
    }
}
.campaign__media{
    @include desktop{
        height: 100%;
        width: 100%;
    }
}

.campaign__media__container,
.campaign__media__image{
    @include desktop{
        height: 100%;
        width: 100%;
    }
}

.campaign__title{
    @include desktop{
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 12;
        display: grid;
        z-index: 3;
        font-size: 8rem;
        font-family: 'CormorantInfant-Light';
        text-transform: uppercase;
        font-weight: 200;
        // position: fix;
        span:nth-of-type(2),
        span:nth-of-type(3){
            margin-top: -6rem;
        }

        span:first-of-type,
        span:nth-of-type(3){
            transform: translateX(-7rem);
        }
        span:nth-of-type(2){
            transform: translateX(12.5rem);
        }
    }
}

.campaign__right{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 8.33333%);
    grid-template-rows: repeat(12,8.33333%);
}

.campaign__right__footer{
    @include desktop{
        display: flex;
        align-items: center;
        grid-column-start: 5;
        grid-column-end: 13;
        grid-row-start: 11;
        grid-row-end: 13;
        margin-left: -1rem;
        margin-top: 2rem;
    }

}

.k__22{
    font-size: 8.5rem;
    font-weight: 200;
    text-transform: uppercase;
}

.footer__p{
    @include desktop{
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 2.5rem;
        margin-left: 1rem;
        span{
            display: block;
        }
    }
}

.pledge{
    @include desktop{
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-top: 2rem;
        width: 100%;
    }
}

.pledge__heading{
    @include desktop{
        text-transform: uppercase;
        font-weight: 200;
    }
}

.pledge__p{
    @include desktop{
        width: 30%;
        font-size: 0.6rem;
        font-weight: 100;
        display: inline-block;
        margin-top: 0.6rem;
    }
}
.planet__do__better{
    @include desktop{
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-top: 2rem;
        width: 100%;
    }
}

.spring__move{
    @include desktop{
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 7;
        margin-top: 2rem;
    }
}

.spring__marquee{
    @include desktop{
        margin-top: 2rem;
        border: 1px solid black;
        border-radius: 10px;
        padding: 0.4rem 0rem;
    }
}

.spring__marquee__span{
    @include desktop{
       font-size: 1rem;
       text-transform: uppercase;
    }
}

.image__display__div{
    @include desktop{
        height: 100vh;
    }
}

.image__display__div__inner{
    @include desktop {
        display: grid;
        grid-template-columns: repeat(12, 8.5rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}
.image__display__div__marquee{
    @include desktop{
        grid-column-start: 1;
        grid-column-end: 14;
        grid-row-start: 2;
        grid-row-end: 10;
        overflow: hidden;

    }
}
.image__display__div__lg__text{
    font-size: 38rem;
    font-weight: 200;
    margin-left: -27rem;
    margin-right: 40rem;
}

.image__display__div__1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 2rem;
}

.image__display__div__1{
    @include desktop{
        height: 120%;
        width: 100%;
        // position: absolute;
    }
}

.image__display__div__1__container,
.image__display__div__1__image{
    @include desktop{
        height: 100%;
        width: 100%;
    }
}

.image__display__div__2{
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-top: 1rem;
}

.image__display__div__2{
    @include desktop{
        height: 180%;
        width: 120%;
        // position: absolute;
    }
}

.image__display__div__2__container,
.image__display__div__2__image{
    @include desktop{
        height: 100%;
        width: 100%;
    }
}

.image__display__div__3{
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 12;
}
.image__display__div__3{
    @include desktop{
        height: 150%;
        width: 60%;
        // position: absolute;
    }
}

.image__display__div__3__container,
.image__display__div__3__image{
    @include desktop{
        height: 100%;
        width: 100%;
    }
}
.image__display__div__nature{
    @include desktop{
        grid-column-start: 9;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 4;
        span{
            font-weight: 100;
            display: block;
        }
    }
}

.image__display__div__threads{
    @include desktop{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 12;
        span{
            font-weight: 100;
            display: block;
        }
    }
}

.image__display__div__isl{
    @include desktop{
        grid-column-start: 9;
        grid-column-end: 10;
        grid-row-start: 12;
        grid-row-end: 11;
        margin-top: 2rem;
        span{
            font-size: 7.5rem;
            display: block;
            
        }
    }
}

.footer{
    @include desktop{
        height: 100vh;
    }
}

.footer__inner{
    @include desktop{
        display: grid;
        grid-template-columns: repeat(12, 11rem);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

.footer__image__left{
    @include desktop{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 13;
    }
}

.footer__right{
    @include desktop{
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 13;
        background-color: black;
        margin-left: -2rem;
        padding: 2rem 8rem;
        padding-top: 4rem;
        padding-right: 0rem;
    }
}

.footer__right__container{
    @include desktop{
        display: grid;
        grid-template-columns: repeat(12, 8.33333%);
        grid-template-rows: repeat(12,8.33333%);
        grid-auto-flow: row dense;
        height: 100%;
        position: relative;
        overflow: hidden;
    
    }
}

.footer__right__top{
    @include desktop{
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 4;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 6rem;
    }
}

.say__hello{
    @include desktop{
        align-self: flex-start;
        vertical-align: top;
        h3{
            font-size: 4rem;
            font-weight: 200;
            text-transform: uppercase;
            span{
                display: block;
            }
        }
    }
}

.footer__column{
    @include desktop{
        align-self: flex-start;
        vertical-align: top;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
}

.footer__column__top{
    @include desktop{
        margin-bottom: 2rem;
        font-weight: 100;
    }
}

.footer__column__bottom{
    @include desktop{
        h2{
            font-weight: 100;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        .footer__column__description{
            margin-bottom: 2rem;
            font-weight: 100;
            font-size: 0.9rem;
        }
        .email__us{
            display: flex;
            align-items: center;
            span{
                margin-right: .3rem;
                font-weight: 100;
            }
        }

        .footer__column__phone{
            font-weight: 100;
            margin-bottom: .5rem;
            span{
                margin-right: .5rem;
            }
        }

        .outlets{
            font-weight: 100;
            margin-bottom: .2rem;
            text-transform: uppercase;
        }
    }
}

.footer__right__bottom{
    @include desktop{
        font-size: 42rem;
        margin-top: -2rem;
        color: white;
        font-weight: 200;
    }
}